a, a:hover, a:focus, a:active {
  text-decoration: none;
}

ol, ul, dl {
  margin-bottom: 0;
}

img{
  max-width: 100%;
  display: block;
}

// hide toggle-arrow
.dropdown-toggle:after {
  display: none;
}